* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #d7e6f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #7da2bf;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 320px;
    text-align: center;
    position: relative;
}

.container h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

#task-form {
    display: flex;
    margin-bottom: 20px;
}

#task-input {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 14px;
}

#add-task-btn {
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #4b738a;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.priority-buttons {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

.priority-buttons button {
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin: 0 5px;
    color: white;
}

#set-high-priority {
    background-color: #f44336;
}

#set-low-priority {
    background-color: #4CAF50;
}

#task-list, #archive-list {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

#task-list li, #archive-list li {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.high-priority {
    background-color: #ffcccb;
}

.low-priority {
    background-color: #d1e7dd;
}

.complete-btn, .delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
}

.complete-btn {
    color: #4CAF50;
}

.delete-btn {
    color: #f44336;
}

.burger-menu {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.3);
    transition: left 0.3s;
    z-index: 9;
}

.close-sidebar {
    background: none;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    align-self: flex-end;
}

#language-label {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 10px;
}

#language-select {
    padding: 5px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}
.completed {
    text-decoration: line-through;
    opacity: 0.6;
}
